.auth {
  text-decoration: none;
  color: $auth-color;
  font-size: 11px;
  padding: 6px 6px;
}

.auth__container {
  width: fit-content;
}

.auth__signup {
  border: 1px solid $auth-border-color;
  margin-right: 25px;
}

.auth__log-in {
  margin-right: 12px;
}
