.four-steps__container {
  margin-top: 14px;
}

.four-steps__heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.four-steps__heading {
  font-size: 29px;
  font-weight: 400;
  letter-spacing: -1px;
}

.four-steps__decoration {
  width: 13%;
}

.four-steps__wrapper {
  background-color: $white-bg-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 240px;
}

.four-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -200px;
  gap: 0px;
}

.four-steps__title {
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
}

.four-steps__title::after {
  display: block;
  content: "";
  border-bottom: 1px solid #707070;
  width: 60px;
  padding-top: 6px;
  margin: 0 auto;
}

.four-steps__icon {
  width: 65px;
}

.four-steps__text {
  font-size: 12px;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.four-steps__link {
  margin: 0 auto;
  margin-top: 28px;
}
